[submodule "izrada-web-stranice-web-shop-JosipSudar"]
	path = izrada-web-stranice-web-shop-JosipSudar
	url = https://github.com/JosipSudar/izrada-web-stranice-web-shop-JosipSudar.git
[submodule "portfolio"]
	path = portfolio
	url = https://github.com/JosipSudar/portfolio.git
[submodule "oblutak-web-stranica-19-02-2024-JosipSudar"]
	path = oblutak-web-stranica-19-02-2024-JosipSudar
	url = https://github.com/JosipSudar/oblutak-web-stranica-19-02-2024-JosipSudar
